.main{
  display: flex;
  flex-wrap: wrap;
}

h2{
  font-size: 10px;
}

img{
  width: 100px;
  height: 100px;
  align-self: center;
}
.product{
  width: 100px;
  height: 200px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #0000ff;
}
.product:hover {
  background-color: #ff0000;
  box-shadow: 10px 10px 10px black;
  transition: background-color 0.5s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s;
}


