<link rel="stylesheet" href="/Home.css">
<body>

<a href="/home">Home</a>| <a href="/about">About</a>| <a href="/contact">Contact</a>

<h1>Home Page</h1>
<h3>
    Hello i am mann prajapati.
</h3>
<br>

<img src="/mann.jpeg" alt="img" height="250px" width="200px">

<br>

<h3>
    Addition of Two Numbers
</h3>

<form method="get" action="/addprocess">
    <input type="text" name="num1" placeholder="Enter First Number"><br><br>
    <input type="text" name="num2" placeholder="Enter Second Number"><br><br>
    <input type="submit">
</form>

</body>